<section class="rates">
  <div class="container  rates__container">
    <h2 class="rates__title title">Тарифные планы</h2>
    <div class="swiper rates__list-product">
      <div class="swiper-wrapper">
        <div class="swiper-slide rates__cart">
          @@include('../../components/loop/cart-item/cart-item.html', {
          'title': 'Мой клик',
          'speed': '40',
          'price': '399',
          'id': 'TV1',
          'descr': 'Отличный вариант для пенсионеров, выполнения определенных задач и&nbsp;работе с&nbsp;файлами различных размеров.',
          })
        </div>
        <div class="swiper-slide rates__cart">
          @@include('../../components/loop/cart-item/cart-item.html', {
          'title': 'Резвый клик',
          'speed': '80-100',
          'price': '449',
          'id': 'TV2',
          'descr': 'Отличный вариант для пенсионеров, выполнения определенных задач и&nbsp;работе с&nbsp;файлами различных размеров.'
          })
        </div>
        <div class="swiper-slide rates__cart">
          @@include('../../components/loop/cart-item/cart-item.html', {
          'title': 'Мой клик',
          'speed': '40',
          'price': '599',
          'id': 'TV3',
          'descr': 'Отличный вариант для пенсионеров, выполнения определенных задач и&nbsp;работе с&nbsp;файлами различных размеров.',
          })
        </div>
        <div class="swiper-slide rates__cart">
          @@include('../../components/loop/cart-item/cart-item.html', {
          'title': 'Мой клик',
          'speed': '40',
          'price': '599',
          'id': 'TV4',
          'descr': 'Отличный вариант для пенсионеров, выполнения определенных задач и&nbsp;работе с&nbsp;файлами различных размеров.',
          })
        </div>
        <div class="swiper-slide rates__cart">
          @@include('../../components/loop/cart-item/cart-item.html', {
          'title': 'Мой клик',
          'speed': '40',
          'price': '599',
          'id': 'TV5',
          'descr': 'Отличный вариант для пенсионеров, выполнения определенных задач и&nbsp;работе с&nbsp;файлами различных размеров.',
          })
        </div>
      </div>
    </div>
  </div>
</section>