$font40: 40px;
$font35: 35px;
$font30: 30px;
$font28: 28px;
$font25: 25px;
$font20: 20px;
$font18: 18px;
$font16: 16px;
$font14: 14px;
$font12: 12px;

$colorRed: #C81059;
$colorBlue: #0099C8;
$colorBlack:  #2D2D2D;
$colorGray: #F2F6F8;
$colorWhite: #fff;
$colorlightGray:#ACACAC;
$colorDecr: #555555;
$colorAnowerGray: #989898;

$familyCeraPro: 'Cera Pro';
$familyDefult: 'Open Sans';