<section class="hero">
    <div class="container hero__container">
        <div class="hero__info">
            <h1 class="hero__title">Экономия нервов и денег — интернет К-Телеком</h1>
            <ul class="hero__list">
                <li class="hero__elem">5&nbsp;тарифов для многоквартирных и&nbsp;4&nbsp;для частных домов</li>
                <li class="hero__elem">безлимит подключенных устройств</li>
                <li class="hero__elem">комфортная поддержка 24/7</li>
            </ul>
            <button class="hero__btn btn">Подробнее</button>
        </div>
        <div class="hero__img">
            <img src="/img/main pic.png" alt="PC">
        </div>
    </div>
</section>