<li class="cart">
    <h3 class="cart__title">@@title</h3>
    <span class="cart__speed-text">Скорость интернета</span>
    <span class="cart__speed-number">до @@speed Мбит/с</span>
    <p class="cart__descr">@@descr</p>
    <div class="cart__checkbox-block">
        <label class="cart__checkbox-text" for="@@id">
            <input type="checkbox" id="@@id">
            <span class="cart__checkbox"></span>
            <span class="cart__label-text">                
                <span>ТВ + 100 ₽ </span>
                <span>(пакет “Базовый”)</span>
            </span>         
          
        </label>
    </div>
    <div class="cart__price">@@price ₽ <span>в месяц</span></div>
    <span class="cart__conditions" >*итоговая цена зависит от варианта оплаты и пакета ТВ при необходимости</span>
    <button class="cart__btn btn">Выбрать тариф</button>
</li>