<section class="form">
    <div class="container form__container">
        <h2 class="form__title title">Подключиться просто!</h2>
       <form>
        <ul class="form__list">
            <li class="form__elem"><input type="radio" id="radio1" name="radio" checked><label for="radio1"><span>Интернет</span> </label></li> 
            <li class="form__elem"><input type="radio" id="radio2" name="radio"><label for="radio2"><span>Интернет + ТВ</span> </label></li>
            <li class="form__elem"><input type="radio" id="radio3" name="radio"><label for="radio3"><span>Телефония</span> </label></li> 
            <li class="form__elem"><input type="radio" id="radio4" name="radio"><label for="radio4"><span>Видеонаблюдение</span> </label></li> 
        </ul>
        <div class="form__input-block">
            <input type="text" name="name" placeholder="Имя">
            <input type="number" name="number" placeholder="Номер телефона">
            <button type="submit" name="send" class="btn form__btn">Отправить</button>
        </div>
        <div class="form__checkbox-block">
           
            <label for="policy" class="form__policy-text">
                <input type="checkbox" name="policy" id="policy" checked>
                <span class="form__checkbox"></span>
                <span >Я соглашаюсь на условия </span>
                <a href="#">обработки данных</a>
            </label>
        </div>
       </form>
    </div>
</section>